h1 {
    text-align: center;
    font-size: 25px;
}

.App {
    background: #161616 url(/assets/background.jpg) top center;
    min-height: 500px;
    width: 100%;
    overflow: hidden;
}

.anchor {
    color: orange;
}

    .anchor:hover, .anchor:focus {
        color: orange;
        font-size: 20px;
        -webkit-transition: all .3s ease-in-out;
        text-decoration: none;
    }

/* ======================== Header ======================== */

.menu {
    padding: 0px 10px;
    color: white;
    font-size: 12px;
}

.navbar-dark {
    background-color: #262626;
    color: white;
    position: relative;
    animation: moveDown 0.5s ease-in-out;
}

.link {
    color: white;
}

.link:hover, .link:focus {
    color: orange;
    text-decoration: none;
}

/* ======================== Home ======================== */

#home {
    position: relative;
    text-align: center;
    color: white;
    height: 90vh;
}

.home {
    align-content: center;
    align-items: center;
    margin-left: auto;
}

.himage01 {
    margin-top: 20px;
    margin-left: 15px;
}

.htext01 {
    margin-top: 25px;
}

.homeImage {
    width: 22.5%;
    border-radius: 100%;
}

.credits {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 5px;
}

/* ======================== About ======================== */

#about {
    background-color: azure;
    color: black;
    padding-bottom: 30px;
}

.aimage1 {
    margin-top: 20px;
    margin-left: 15px;
}

.atext1 {
    
    margin-left: -25px;
    margin-top: 20px;
    align-self: center;
    text-align: center;
    font-size: 16px;
    margin-right: 10px;
}

.aimage2 {
    margin-top: 20px;
    margin-right: 15px;
}

.atext2 {
    margin-left: 10px;
    margin-top: 20px;
    align-self: center;
    text-align: center;
    font-size: 16px;
    margin-right: -25px;
}

.aboutImage {
    width: 100%;
    border-radius: 10px;
}

/* ======================== Education ======================== */

#education {
    color: white;
}

.banner {
    justify-content: center;
    align-content: center;
    margin: 30px 20px 40px 20px;
}

#block {
    margin: 10px;
    border-radius: 10px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.5);
    text-align: center;
    color: white;
}

#block:hover, #block:focus {
    background-color: white;
    color: black;
}

#block img {
    border-radius: 100%;
    width: 25%;
    margin-bottom: 10px;
}

/* ======================== Skill ======================== */

#skill {
    background-color: azure;
    color: black;
    padding-bottom: 30px;
}

#skill .jumbotron {
    margin: 20px;
    background-color: green;
    color: white;

}

#skill .text {
    margin: 10px;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.3);
    color: black;
}


/* ======================== Projects ======================== */

#project {
    color: white;
    height: 100vh;
}



/* ======================== Responsive Setting ======================== */

@media screen and (max-width: 1000px) {
    .homeImage {
        width: 50%;
    }
    .atext1, .atext2 {
        font-size: 10px;
        margin-right: 0px;
        margin-left: 0px;
    }
    .anchor:hover {
        font-size: 12px;
    }

    .banner {
        font-size: 14px;
    }

    #block img{
        width: 15%;
    }

    #block {
        width: 50%;
        margin: 10px;
        border-radius: 10px;
        padding: 10px;
        color: white;
    }

    #block h5 {
        font-size: 12px;
    }

    #block p{
        font-size: 10px;
    }

}